{{- /* KaTeX JS + auto-render (local) */ -}}
{{- if or .Params.math .Site.Params.math -}}
<script defer src="{{ "katex/katex.min.js" | absURL }}"></script>
<script defer src="{{ "katex/auto-render.min.js" | absURL }}"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError: false
    });"></script>
{{- end -}}
